
.hide
    display: none !important
.show
    display: block !important

.txt-center
    text-align center
.left
    float left
.right
    float right

a
    text-decoration none
    outline none
    transition(.5s)
    color link-color

    &:hover
        color link-color-hover

a, p, li
    line-height 1.1