
.container
    max-width screen-lg
    padding gutter gutter 0
    margin 0 auto
    position relative

.container-md
    max-width screen-md
    @extend .container

.container-sm
    max-width screen-sm
    @extend .container