.row
    margin: 0 -gutter
    overflow hidden

.col
    padding: 0 gutter
    float left

.wdth-100
    width 100%
    float none
.wdth-75
    width 75%
.wdth-50
    width 50%
.wdth-25
    width 25%
.wdth-66
    width 66%
.wdth-33
    width 33%